<%- include("./includes/head") %>

    <%- include("./includes/navbar") %>

        <section class="404">
            <h2>Erro 404!</h2>
            <p>Desculpe, ocorreu um erro, tente novamente mais tarde.</p>
        </section>

        <%- include("./includes/footer") %>