<%- include("./includes/head") %>

    <%- include("./includes/navbar") %>

        <section class="section principal">
            <h1 class="titulo-home">Seja bem vindo a <span>Cypher Code</span></h1>
            <div class="apresentacao">
                <img src="assets/images/CypherCode-Logo.png" alt="logo da empresa cypher code">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga sed aut consequuntur cum explicabo
                    quis rem nemo neque, culpa consequatur tempora aperiam labore pariatur error facere dolore quisquam
                    voluptatibus fugiat?</p>
            </div>
        </section>
        <section class="section projetos">
            <h2>Projetos desenvolvidos pela <span>Cypher Code</span></h2>
            <div class="carrossel-projetos">
                <div class="projeto-card">
                    <img src="/assets/images/MobilityWebsite-print.png" alt="imagem do projeto">
                    <h3>Mobility Website</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio totam quos, perspiciatis
                        assumenda quam non ducimus illum, veritatis nostrum pariatur explicabo autem repellendus
                        reiciendis, voluptate ratione odio consequatur? Harum, et.</p>
                    <button>Ver mais</button>
                </div>
                <div class="projeto-card">
                    <img src="/assets/images/MoocaMotors-print.png" alt=" imagem do projeto">
                    <h3>Mooca Motors</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio totam quos, perspiciatis
                        assumenda quam non ducimus illum.</p>
                    <button>Ver mais</button>
                </div>
                <div class="projeto-card">
                    <img src="/assets/images/Google2-print.png" alt="imagem do projeto">
                    <h3>Google 2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio totam quos, perspiciatis
                        assumenda quam non ducimus illum, veritatis nostrum pariatur.</p>
                    <button>Ver mais</button>
                </div>

            </div>
        </section>

        <%- include("./includes/footer") %>