* {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
}

.section {
    width: 100%;
    height: 100vh;
}

.input-default {
    font-size: 25px;
    font-family: sans-serif;
    padding: 10px;
    color: rgb(155, 149, 201);
    background: #494949;
    border-radius: 5px;
    border: 1px solid rgb(141, 137, 180);
    transition: 0.3s ease;
}

.input-default:focus {
    outline: none;
    box-shadow: 0 0 0 5px rgba(199, 196, 226, 0.7);
}

.btn-default {
    width: 100%;
    padding: 15px 0;
    margin: 20px 0;
    background: rgb(155, 149, 201);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}

.btn-default:hover {
    cursor: pointer;
}